/* Global Settings */
body {
    margin: 0px;
    background-color: #F8F8F8;
    font-family: Arial, Helvetica, sans-serif;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clearfix:after {
    content: "";
    clear: both;
    display: block;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0px;
}

#header {
    position: fixed;
    width: 100%;
    top: 0px;
    background-color: #181B1F;
}

#header .logo {
    width: 17%;
    padding: 10px 0px 0px;
}
#header .logo img {
    width: 100%;
}

#main-navigation {
    width: 73%;
    margin-left: 30px;
}
#main-navigation ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}
#main-navigation ul li {
    font-weight: bold;
    display: inline-block;
    margin: 0px -3px;
    text-transform: uppercase;
}
#main-navigation ul li a {
    display: block;
    padding: 18px 15px;
    color: #fff;
    text-decoration: none;
    position: relative;
    /* border-top: 2px solid transparent; */
}
#main-navigation ul li a:hover {
    color: #FDB913;
    background-color: #252B33;
    /* border-top: 2px solid #FDB913; */
}
#main-navigation ul li a::before {
    content: "";
    position: absolute;
    width: 100%;
    left: 0px;
    top: 0px;
    border-top: 2px solid #FDB913;
    display: none;
}
#main-navigation ul li a:hover:before {
    display: block;
}

/* Sidebar */

.sidebar {
    position: fixed;
    height: 91%;
    top: 9%;
    border-top: 2px solid #FDB913;
}
.sidebar ul {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

/* Sidebar_1 */
#sidebar_1 {
    width: 15%;
    left: 0px;
    padding: 15px 0px;
    background-color: #E6E6E6;
}
#sidebar_1 .sidebar_header {
    text-align: center;
    padding-bottom: 15px;
    text-transform: uppercase;
}
#sidebar_1 h2 {
    font-size: 20px;
    margin: 0px;
}
#sidebar_1 .sidebar_header span {
    font-size: 12px;
}
#sidebar_1 h3 {
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    font-size: 16px;
    margin-bottom: 4px;
}
#sidebar_1 h4 {
    margin: 0px;
    font-size: 14px;
}
#sidebar_1 .sidebar_content {
    height: 100%;
    overflow-y: scroll;
}
#sidebar_1 .live {
    background-color: #CE1F41;
    padding: 5px 0px 0px 4px;
}
#sidebar_1 .live a,#sidebar_1 .upcoming_events ul li {
    display: block;
    background-color: #E6E6E6;
    padding: 15px;
    text-decoration: none;
    color: #000;
}
#sidebar_1 .live a:hover, #sidebar_1 .upcoming_events ul li:hover {
    background-color: #CDCDCD;
}

#sidebar_1 .upcoming_events {
    background-color: #1F7EDF;
    padding: 5px 0px 0px 4px;
}

#sidebar_2 {
    width: 25%;
    right: 0px;
    background-color: #fff;
    overflow-y: scroll;
}
#sidebar_2 h2 {
    margin: 0px;
    font-size: 16px;
    font-weight: normal;
}
#sidebar_2 .sidebar_header {
    padding: 0px;
    text-align: center;
    padding: 15px 0px;
}

#sidebar_2 ul li:first-child, #sidebar_2 ul li:hover {
    background-color: #E6E6E6;
}
#sidebar_2 ul li {
    border-bottom: 1px solid #e0e0e0;
    padding: 10px;
}
#sidebar_2 ul li a {
    text-decoration: none;
    color: #000;
    font-size: 12px;
}
#sidebar_2 .text {
    width: 40%;
}
#sidebar_2 .image {
    width: 50%;
}
#sidebar_2 img {
    width: 100%;
}


#main {
    width: 50%;
    margin: 100px 0% 0px 20%;
}

#section_1 img {
    width: 100%;
}